<!-- CONTACT -->
@main("PersonalManegment"){
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center section-header">
        <h2 class="section-title">Shaxsiy ma'lumotlar</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <form class="contact-form" action="#" method="post">
            <fieldset class="col-md-6">
              <input type="text" name="Ismi" placeholder="Ismi...">
            </fieldset>

            <fieldset class="col-md-6">
              <input type="email" name="Familyasi" placeholder="Familyasi...">
            </fieldset>

            <fieldset class="col-md-6">
              <input type="text" name="" placeholder="Subject...">
            </fieldset>

            <fieldset class="col-md-6">
              <textarea name="message" id="message" cols="30" rows="5" placeholder="Message.."></textarea>
            </fieldset>

            <fieldset class="col-md-6">
              <input type="submit" value="Send Message" class="main-button">
            </fieldset>
          </form>

        </div> <!-- .row -->
      </div> <!-- .col-md-8 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
}